arXiv
perry-thesis.dvi
perry-thesis.fdb_latexmk
perry-thesis.pdf
perry-thesis.ps
perry-thesis.synctex.gz
perry-thesis-abstract.pdf
suthesis
suthesis-abstract
cv-unsupervised/plots/neurons.pdf
.DS_Store
*.aux
*.bak
*.blg
*.log
*.lof
*.lot
*.swp
*.toc
*.tmproj
