perry-thesis.dvi
perry-thesis.fdb_latexmk
perry-thesis.pdf
perry-thesis.ps
perry-thesis.synctex.gz
suthesis
cv-unsupervised/plots/neurons.pdf
.DS_Store
*.aux
*.bak
*.bbl
*.blg
*.log
*.lof
*.lot
*.toc
*.tmproj
